<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/zhangmenjue/#{@zhangmenjue.id}", :method => 'put', :multipart => true) do %>
      <table class="tabinfo">
        <tr>
          <th>类型：</th><td><%= @zhangmenjues_info[@zhangmenjue.id][:zhangmenjue_type] %></td>
        </tr>
        <tr>
          <th>等级：</th>
          <td>
            <%= text_field :zhangmenjue, :level, :style => 'font-size:10pt;' %>
            <% if @zhangmenjue.errors['level'] && @zhangmenjue.errors['level'].length > 0 %>
                <span style="color: red;">等级输入不合法。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>魄力：</th>
          <td>
            <%= text_field :zhangmenjue, :poli, :style => 'font-size:10pt;' %>
            <% if @zhangmenjue.errors['poli'] && @zhangmenjue.errors['poli'].length > 0 %>
                <span style="color: red;">经验输入不合法。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>分数：</th>
          <td>
            <%= text_field :zhangmenjue, :score, :style => 'font-size:10pt;' %>
            <% if @zhangmenjue.errors['score'] && @zhangmenjue.errors['score'].length > 0 %>
                <span style="color: red;">经验输入不合法。</span>
            <% end %>
          </td>
        </tr>
      </table>
      <input type="submit" value="更新掌门诀" class="btnsubmit"/>
  <% end %>
</div>