<div id="middle" xmlns="http://www.w3.org/1999/html">
  掌门诀：
  <table class="tabinfo">
    <tr>
      <th>类型</th>
      <th>等级</th>
      <th>魄力</th>
      <th>分数</th>
      <th>操作</th>
    </tr>
    <% @zhangmenjues_info.keys.each() do |zhangmenjue| %>
        <tr>
          <td><%= @zhangmenjues_info[zhangmenjue][:zhangmenjue_type] %></td>
          <td><%= @zhangmenjues_info[zhangmenjue][:level] %></td>
          <td><%= @zhangmenjues_info[zhangmenjue][:poli] %></td>
          <td><%= @zhangmenjues_info[zhangmenjue][:score] %></td>
          <td>
            <a href=<%= "'/admin/zhangmenjue/#{zhangmenjue}'".html_safe %> >详情</a>
            <a href=<%= "'/admin/zhangmenjue/#{zhangmenjue}/edit'".html_safe %> >编辑</a>
          </td>
        </tr>
    <% end %>
  </table>
  <div class="page">
    <%= will_paginate @zhangmenjues, :previous_label => '<<', :next_label => '>>' %>
  </div>
</div>