<div id="middle" xmlns="http://www.w3.org/1999/html">
  <table class="tabinfo">
    <tr>
      <th>类型：</th><td><%= @zhangmenjues_info[@zhangmenjue.id][:zhangmenjue_type] %></td>
    </tr>
    <tr>
      <th>等级：</th><td><%= @zhangmenjues_info[@zhangmenjue.id][:level] %></td>
    </tr>
    <tr>
      <th>魄力：</th><td><%= @zhangmenjues_info[@zhangmenjue.id][:poli] %></td>
    </tr>
    <tr>
      <th>分数：</th><td><%= @zhangmenjues_info[@zhangmenjue.id][:score] %></td>
    </tr>
  </table>
  <a class="btnsubmit" href=<%= "'/admin/zhangmenjue/edit/#{@zhangmenjue.id}'".html_safe %> >编辑</a>
</div>