<div id="middle" xmlns="http://www.w3.org/1999/html">
    <%= form_tag("/admin/equipment/#{@equipment.id}", :method => 'put', :multipart => true) do %>
      <div style="color: red;">
        <% if flash[:error] %>
            <div id="u_error">
              <p>
                <%= flash[:error] %>
              </p>
            </div>
        <% end %>
      </div>
      <table class="tabinfo">
        <tr>
          <th>装备名称</th>
          <td><%= @equipment_info[@equipment.id.to_s][:equipment_name] %></td>
        </tr>
        <tr>
          <th>装备类型</th>
          <td><%= @equipment_info[@equipment.id.to_s][:equipment_type] %></td>
        </tr>
        <tr>
          <th>等级</th>
          <td><%= text_field :equipment, :level, :style => 'font-size:10pt;' %>
            <% if @equipment.errors['level'] && @equipment.errors['level'].length > 0 %>
                <span style="color: red;">等级输入不合法。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>成长强度</th>
          <td><%= text_field :equipment, :grow_strength, :style => 'font-size:10pt;' %>
            <% if @equipment.errors['grow_strength'] && @equipment.errors['grow_strength'].length > 0 %>
                <span style="color: red;">成长强度输入不合法。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th ><label for="d_type">更改装备弟子</label></th>
          <td>
            <label for="d_type"> </label>
            <select id="d_type" name="equipment[disciple]">
              <% @disciple_list.keys.each() do |d| %>
                  <% logger.debug{"dddddd ====   #{d}"} %>
                  <% if @equipment.disciple_id == d %>
                      <option selected="selected" value=<%= "\"#{@disciple_list[d]}\"".html_safe %>>
                        <%= @disciple_list[d] %></option>
                  <% else %>
                      <option value=<%= "\"#{@disciple_list[d]}\"".html_safe %>>
                        <%= @disciple_list[d] %></option>
                  <% end %>
              <% end %>
            </select>
          </td>
        </tr>
      </table>
      <input type="submit" value="更新装备" class="btnsubmit"/>
    <% end %>
</div>