<div id="middle" xmlns="http://www.w3.org/1999/html">
  装备管理：
  <table class="tabinfo">
    <tr>
      <th>装备名称</th>
      <th>装备类型</th>
      <th>等级</th>
      <th>成长强度</th>
      <th>装备弟子</th>
      <th>位置</th>
      <th>操作</th>
    </tr>
    <% @equipments_info.keys.each() do |e| %>
        <tr>
          <td>
            <a href=<%= "'/admin/equipment/#{e}'".html_safe %>>
            <%= @equipments_info[e][:equipment_name] %></a>
          </td>
          <td><%= @equipments_info[e][:equipment_type] %></td>
          <td><%= @equipments_info[e][:level] %></td>
          <td><%= @equipments_info[e][:grow_strength] %></td>
          <td>
            <% unless @equipments_info[e][:disciple_name] == "未使用" %>
            <a href=<%= "'/admin/disciple/#{@equipments_info[e][:disciple_id]}'".html_safe%>>
            <% end %>
            <%= @equipments_info[e][:disciple_name] %></a></td>
          <td><%= @equipments_info[e][:position] %></a></td>
          <td>
            <a href=<%= "'/admin/equipment/#{e}'".html_safe %> >详情</a>
            <a href=<%= "'/admin/equipment/edit/#{e}'".html_safe %> >编辑</a>
            <a onclick="return confirmDel()" href=<%= "'/admin/equipment/delete/#{e}'".html_safe %> >删除</a>
          </td>
        </tr>
    <% end %>
  </table>
  <div class="page">
    <%= will_paginate @equipments, :previous_label => '<<', :next_label => '>>' %>
  </div>
  <a href="/admin/equipment/new" class="btnlink">添加装备</a>
</div>