<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/equipment/", :method => 'post', :multipart => true) do %>
      <script language="javascript">
//          通过getJSON方法获取装备的json数据。
          $.getJSON("/admin/equipment/get_equipment_type_name",function(data,status){
              var names = data['data'];
              for(i = 0;i < names.length;i++){
                  if(names[i][1] == 1){
                      $("#e_name").append("<option>"+ names[i][0] +"</option>")
                  }
              }
          });
//        实现e_type与e_name的联动，e_name的下拉选项随e_type变化而变化。
          function changeSelect(selectedIndex){
              $.getJSON("/admin/equipment/get_equipment_type_name",function(data,status){
                  var names = data['data'];
                  $("#e_name").empty();
                  var has_equipment = false;
                  for(i = 0; i< names.length; i++){
                      if(names[i][1] == selectedIndex + 1){
                          has_equipment = true;
                          $("#e_name").append("<option>"+ names[i][0] +"</option>")
                      }
                  }
                  if (has_equipment == false){
                      $("#e_name").append("<option>该场景已完成</option>")
                  }
              });
          }
      </script>
      <div style="color: red;">
        <% if flash[:error] %>
            <div id="u_error">
              <p>
                <%= flash[:error] %>
              </p>
            </div>
        <% end %>
      </div>
      <table class="tabinfo">
        <tr>
          <th>装备类型</th>
          <td>
            <label for="e_type"> </label>
            <select id="e_type" name="e_type" onchange="changeSelect(this.selectedIndex)">
              <% @equipment_types_list.each() do |e| %>
                  <option value=<%= "\"#{e}\"".html_safe %>>
                    <%= e %></option>
              <% end %>
            </select>
          </td>
        </tr>

        <tr>
          <th>装备名称</th>
          <td>
            <label for="e_name"> </label>
            <select id="e_name" name="e_name">

            </select>
          </td>
        </tr>
        <tr>
          <th>等级</th>
          <td><%= text_field(:equipment, :level ) %>
              <% if @equipment.errors['level'] && @equipment.errors['level'].length > 0 %>
                  <span style="color: red;">等级输入不合法,应为数字，不超过100。</span>
              <% end %>
          </td>
        </tr>
        <tr>
          <th>成长强度</th>
          <td><%= text_field(:equipment, :grow_strength ) %>
              <% if @equipment.errors['grow_strength'] && @equipment.errors['grow_strength'].length > 0 %>
                  <span style="color: red;">成长强度输入不合法，应为数字。</span>
              <% end %>
          </td>
        </tr>

      </table>
      <input type="submit" value="添加" class="btnsubmit"/>
  <% end %>
</div>