<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/jianghu/#{@jianghu.id}", :method => 'post',:name =>"submit_form", :multipart => true,) do %>
      <script language="javascript">
//          通过getJSON方法获取江湖的json数据,并初始化下拉框的值。
          $(document).ready(function(){
              $.getJSON("/admin/jianghu/scene_item_names",function(data,status){
                  $.getJSON("/admin/jianghu/scene_names",function(data1,status){
                      var names = data1['data'];
                      for(i=0;i<names.length;i++){
                          $("#scene_name").append("<option>"+ names[i] +"</option>")
                      }
                      var st_names = data['data'];
                      var has_items = false;
                      for(i=0;i<st_names.length;i++){
                          if(st_names[i][0] == names[0]){
                              has_items = true;
                              $("#item_name").append("<option>"+ st_names[i][1] +"</option>")
                          }
                      }
                      if (has_items == false){
                          $("#item_name").append("<option>该场景已完成</option>")
                      }
                  });
              });
          });
//        实现item_name与scene_name的联动。
          function changeSelect(selectedValue){
              $.getJSON("/admin/jianghu/scene_item_names",function(data,statys){
                  var scene_names = data['data'];
                  var j = 0;
                  $("#item_name").empty();
                  var has_items = false;
                  for(i = 0; i< scene_names.length; i++){
                      if(scene_names[i][0] == selectedValue){
                          has_items = true;
                          $("#item_name").append("<option>"+ scene_names[i][1] +"</option>")
                      }
                  }
                  if (has_items == false){
                      $("#item_name").append("<option>该场景已完成</option>")
                  }
              });
          }
      </script>
      <div style="color: red;">
        <% if flash[:error] %>
            <div id="u_error">
              <p>
                <%= flash[:error] %>
              </p>
            </div>
        <% end %>
      </div>
      <table class="tabinfo">
        <tr>
          <th>场景</th>

          <td>
            <label for="scene_name"> </label>
            <select id="scene_name" name="scene_name" onchange="changeSelect(this.value)">

            </select>
          </td>
        </tr>
        <tr>
          <th>条目</th>
          <td>
            <label for="item_name"> </label>
            <select id="item_name" name="item_name" >

            </select>
          </td>
        </tr>
        <tr>
          <th>是否完成</th>
          <td>
            <label for="is_finish"> </label>
            <select id="is_finish" name="jianghu[is_finish]">
              <% @is_finish.each() do |v| %>
                  <option value=<%= "\"#{v}\"".html_safe %>><%= v %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <th>战斗次数</th>
          <td><%= text_field(:jianghu, :fight_time) %>
            <% if @jianghu.errors['fight_time'] && @jianghu.errors['fight_time'].length > 0 %>
                <span style="color: red;">场景输入不合法。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>星级</th>
          <td><%= text_field(:jianghu, :star) %>
            <% if @jianghu.errors['star'] && @jianghu.errors['star'].length > 0 %>
                <span style="color: red;">场景输入不合法。</span>
            <% end %>
          </td>
        </tr>
      </table>
      <input type="submit" value="创建江湖" class="btnsubmit"/>
  <% end %>
</div>
