<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/soul/", :method => 'post', :multipart => true) do %>
      <table class="tabinfo">
        <tr>
          <th>潜力</th>
          <td><%= text_field(:soul, :potential) %>
            <% if @soul.errors['potential'] && @soul.errors['potential'].length > 0 %>
                <span style="color: red;">潜力输入不合法，应为数字。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>数量</th>
          <td><%= text_field(:soul, :number)  %>
            <% if @soul.errors['number'] && @soul.errors['number'].length > 0 %>
                <span style="color: red;">魂魄数量入不合法，应为数字。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th ><label for="s_type">魂魄类型</label></th>
          <td>
            <label for="s_type"> </label>
            <select id="name" name="soul[s_type]">
              <% @souls.each() do |d| %>
                  <% if d.gsub(/name_disciple_/, '').to_i > 5000 %>
                      <% break %>
                  <% end %>
                  <option value=<%= "\"#{@names_config[d]}\"".html_safe %>><%= @names_config[d] %></option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>
      <input type="submit" value="添加魂魄" class="btnsubmit"/>
  <% end %>
</div>