<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/team/change_gongfu/#{@disciple_id}", :method => 'post', :multipart => true) do %>
      <div style="color: red;">
        <% if flash[:error] %>
            <div id="u_error">
              <p>
                <%= flash[:error] %>
              </p>
            </div>
        <% end %>
      </div>
      <table class="tabinfo">
        <tr>
          <th></th>
          <th>功夫名称</th>
        </tr>
        <tr>
          <td>
            第二个功夫
          </td>
          <td>
            <label for="sec_gf"> </label>
            <select id="sec_gf" name="sec_gf">
              <% for i in 0...@gongfu_names.length %>
                  <% if @gongfu_names[i][0] == @second_disciple_gongfu_name%>
                      <option selected="selected" value=<%= "\"#{@gongfu_names[i][1]}\"".html_safe %>>
                        <%= @gongfu_names[i][0]+" 等级:"+@gongfu_names[i][2].to_s %>
                      </option>
                  <% else %>
                  <option value=<%= "\"#{@gongfu_names[i][1]}\"".html_safe %>>
                    <% if i==0 %>
                        <%= @gongfu_names[i][0] %>
                    <% else %>
                        <%= @gongfu_names[i][0]+" 等级:"+@gongfu_names[i][2].to_s+" 经验"+@gongfu_names[i][3].to_s%>
                    <% end %>
                  </option>
                  <% end %>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            第三个功夫
          </td>
          <td>
            <label for="thi_gf"> </label>
            <select id="thi_gf" name="thi_gf">
              <% for i in 0...@gongfu_names.length %>
                  <% if @gongfu_names[i][0] == @third_disciple_gongfu_name%>
                      <option selected="selected" value=<%= "\"#{@gongfu_names[i][1]}\"".html_safe %>>
                        <%= @gongfu_names[i][0]+" 等级:"+@gongfu_names[i][2].to_s %>
                      </option>
                  <% else %>
                  <option value=<%= "\"#{@gongfu_names[i][1]}\"".html_safe %>>
                    <% if i==0 %>
                        <%= @gongfu_names[i][0] %>
                    <% else %>
                        <%= @gongfu_names[i][0]+" 等级:"+@gongfu_names[i][2].to_s+" 经验"+@gongfu_names[i][3].to_s %>
                    <% end %>
                  </option>
                  <% end %>
              <% end %>
            </select>
          </td>
        </tr>
      </table>
      <input type="submit" value="添加" class="btnsubmit"/>
  <% end %>
</div>