<div id="middle" xmlns="http://www.w3.org/1999/html">	
  <% if flash[:success] %>
      <p id="u_success">
        <%= flash[:success] %>
      </p>
      <a class="btnsubmit" href=<%= "'/admin/user/#{session[:user_id]}'".html_safe %> >用户信息</a>
  <% else %>
  <%= form_tag("/admin/user/change_password", :method => 'post', :multipart => true) do %>

      <table id="u_tab">
        <tr>
          <td colspan="2">
            <% if flash[:error] %>
                <div id="u_error">
                  <p>
                    <%= flash[:error] %>
                  </p>
                </div>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><label for="new_password" class="title">新&nbsp;密&nbsp;码&nbsp;</label></td>
          <td><input id="new_password" name="new_password" type="password" class="inputtext"/></td>
        </tr>
        <tr>
          <td><label for="repeat_password" class="title">重复密码&nbsp;</label></td>
          <td><input id="repeat_password" name="repeat_password" type="password" class="inputtext"/></td>
        </tr>
        <tr>
			  <td></td>
          <td>
            <input name="commit" id="u_commit" type="submit" value="修改"/>
            <a href=<%= "'/admin/user/#{session[:user_id]}'".html_safe %> >
            <input name="cancel" id="u_cancel" type="button" value="取消"/></a>
          </td>
        </tr>
      </table>
      <% end %>
  <% end %>
</div>
