<div id="middle" xmlns="http://www.w3.org/1999/html">

  用户信息：
  <table class="tabinfo">
    <tr>
      <th style="text-align: center">用户名</th>
      <td style="text-align: center"><%= @user.username %></td>
      <th style="text-align: center">昵称</th>
      <td style="text-align: center"><%= @user.name %></td>
    </tr>
    <tr>
      <th style="text-align: center">用户等级</th>
      <td style="text-align: center"><%= @user.level %></td>
      <th style="text-align: center">用户元气</th>
      <td style="text-align: center"><%= @user.sprite %></td>
    </tr>
    <tr>
      <th style="text-align: center">威信</th>
      <td style="text-align: center"><%= @user.prestige %></td>
      <th style="text-align: center">元宝</th>
      <td style="text-align: center"><%= @user.gold %></td>
    </tr>
    <tr>
      <th style="text-align: center">银两</th>
      <td style="text-align: center"><%= @user.silver %></td>
      <th style="text-align: center">体力</th>
      <td style="text-align: center"><%= @user.power %></td>
    </tr>
    <tr>
      <th style="text-align: center">用户经验</th>
      <td style="text-align: center"><%= @user.experience %></td>
      <th style="text-align: center">注册时间</th>
      <td style="text-align: center"><%= @user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
    </tr>
    <tr>
      <th style="text-align: center">弟子数量</th>
      <td style="text-align: center"><%= @user.disciples.count %></td>
      <th style="text-align: center">Vip等级</th>
      <td style="text-align: center"><%= @user.vip_level %></td>
    </tr>
  </table>
  <a class="btnsubmit" href=<%= "'/admin/user/#{@user.id}/edit'".html_safe %> >编辑</a>
  <br>
  用户魂魄:
  <table class="tabinfo">
    <tr>
      <th>魂魄类型</th>
      <th>潜力</th>
      <th>魂魄数量</th>
      <th>操作</th>
    </tr>
    <% @user.souls.each() do |soul| %>
        <tr>
          <td style="text-align: center"><%= @names_config[@disciple_config[soul.s_type]["name"]] %></td>
          <td style="text-align: center"><%= soul.potential %></td>
          <td style="text-align: center"><%= soul.number %></td>
          <td style="text-align: center"><a href=<%= "'/admin/soul/#{soul.id}'".html_safe %>>详情</a>
          <a href=<%= "'/admin/soul/edit/#{soul.id}'".html_safe %>>编辑</a>
          <a onclick="return confirmDel()" href=<%= "'/admin/soul/delete/#{soul.id}'".html_safe %> >删除</a></td>
        </tr>
    <% end %>
  </table>
  <a href="/admin/soul/new" class="btnlink">新建魂魄</a>
</div>
