<div id="middle" xmlns="http://www.w3.org/1999/html">
  <%= form_tag("/admin/disciple/", :method => 'post', :multipart => true) do %>
      <div style="color: red;">
        <% if flash[:error] %>
            <div id="u_error">
              <p>
                <%= flash[:error] %>
              </p>
            </div>
        <% end %>
      </div>
      <table class="tabinfo">
        <tr>
          <th>姓名</th>
          <td>
            <label for="name"> </label>
            <select id="name" name="disciple[name]">
              <% @disciples.each() do |d| %>
                  <% if d.gsub(/name_disciple_/, '').to_i > 5000 %>
                    <% break %>
                  <% end %>
                  <option value=<%= "\"#{@names_config[d]}\"".html_safe %>><%= @names_config[d] %></option>
              <% end %>
            </select>
          </td>
          <th>等级</th>
          <td>
            <%= text_field :disciple, :level, :style => 'font-size:10pt;' %>
            <% if @disciple.errors['level'] && @disciple.errors['level'].length > 0 %>
                <span style="color: red;">等级输入不合法，应为数字，小于100。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>经验</th>
          <td>
            <%= text_field :disciple, :experience, :style => 'font-size:10pt;' %>
            <% if @disciple.errors['experience'] && @disciple.errors['experience'].length > 0 %>
                <span style="color: red;">经验输入不合法，应为数字。</span>
            <% end %>
          </td>
          <th>成长血量</th>
          <td>
            <%= text_field :disciple, :grow_blood, :style => 'font-size:10pt;' %>
            <% if @disciple.errors['grow_blood'] && @disciple.errors['grow_blood'].length > 0 %>
                <span style="color: red;">成长血量输入不合法,应为数字。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>成长攻击值</th>
          <td>
            <%= text_field :disciple, :grow_attack, :style => 'font-size:10pt;' %>
            <% if @disciple.errors['grow_attack'] && @disciple.errors['grow_attack'].length > 0 %>
                <span style="color: red;">成长攻击输入不合法,应为数字。</span>
            <% end %>
          </td>
          <th>成长防御值</th>
          <td>
            <%= text_field :disciple, :grow_defend, :style => 'font-size:10pt;' %>
            <% if @disciple.errors['grow_defend'] && @disciple.errors['grow_defend'].length > 0 %>
                <span style="color: red;">成长防御值输入不合法,应为数字。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>成长内力值</th>
          <td>
            <%= text_field :disciple, :grow_internal, :style => 'font-size:10pt;' %>
            <% if @disciple.errors['grow_internal'] && @disciple.errors['grow_internal'].length > 0 %>
                <span style="color: red;">成长内力值输入不合法,应为数字。</span>
            <% end %>
          </td>
          <th>突破次数</th>
          <td>
            <%= text_field :disciple, :break_time, :style => 'font-size:10pt;' %>
            <% if @disciple.errors['break_time'] && @disciple.errors['break_time'].length > 0 %>
                <span style="color: red;">突破次数输入不合法,应为数字。</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>潜力</th>
          <td>
            <%= text_field :disciple, :potential, :style => 'font-size:10pt;' %>
            <% if @disciple.errors['potential'] && @disciple.errors['potential'].length > 0 %>
                <span style="color: red;">潜力输入不合法,应为数字。</span>
            <% end %>
          </td>
        </tr>
      </table>
      <input type="submit" value="添加弟子" class="btnsubmit"/>
  <% end %>
</div>