<%= form_tag("/admin/disciple/", :method => 'put', :multipart => true) do %>
    功夫
    <table class="tabinfo">
      <tr>
        <th>ID</th>
        <th>功夫名称</th>
        <th>等级</th>

      </tr>
      <% @gongfus.each() do |gongfu| %>
          <tr>
            <td><%= gongfu.id %></td>
            <td><%= @gongfus_config[gongfu.gf_type]["name"] %></td>
            <td>
              <span class="taglable">
                <input type='text' id=<%= "'disciple_#{gongfu.id}'".html_safe %>
                        value=<%= "'#{gongfu.level}'".html_safe %> name='gongfu[level][]'/>
              </span>
            </td>
          </tr>
      <% end %>
    </table>

    装备
    <table class="tabinfo">
      <tr>
        <th>ID</th>
        <th>装备名称</th>
        <th>等级</th>

      </tr>
      <% @equipments.each() do |equipment| %>
          <tr>
            <td><%= equipment.id %></td>
            <td>
                <%= @equipments_config[equipment.e_type]["name"] %>
            </td>
            <td>
              <span class="taglable">
                <input type='text' id=<%= "'disciple_#{equipment.id}'".html_safe %>
                        value=<%= "'#{equipment.level}'".html_safe %> name='equipment[level][]'/>
              </span>
            </td>
          </tr>
      <% end %>
    </table>
    <input type="submit" value="更新武功" class="btnsubmit"/>
<% end %>