<div id="canbai_recorders">
	<table class="tabinfo">
		<caption><h2>/qiyu/canbai接口调试</h2></caption>
		<tr>
			<th>用户id</th><th>奖励类型</th><th>连续参拜次数</th><th>今天是否参拜</th><th>操作</th>
		</tr>
		<% @recorders.each do |recorder| %>
		<tr>
			<% unless recorder.user.nil? %>
			<td><%= recorder.user.username %></td>
			<td><%= recorder.r_type %></td>
			<td><%= recorder.accumulated_continuous_time %></td>
			<td>
				<% if recorder.last_canbai_time == Time.now.to_date %>
					<%= '是' %>
				<% else %>
					<%= '否' %>
				<% end %>
			</td>
			<td>
				<%= link_to '修改', action: "edit", id: recorder %>
				<%= link_to '删除', { action: "delete", id: recorder }, confirm: '确定删除？' %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</table>
</div>