<div id="middle" xmlns="http://www.w3.org/1999/html">
  功夫管理：
  <div style="color: red;">
    <% if flash[:error] %>
        <div id="u_error">
          <p>
            <%= flash[:error] %>
          </p>
        </div>
    <% end %>
  </div>
  <table class="tabinfo">
    <tr>
      <th>功夫名称</th>
      <th>等级</th>
      <th>经验</th>
      <th>位置</th>
      <th>使用弟子</th>
      <th>操作</th>
    </tr>
    <% @gongfus_info.keys.each() do |gongfu| %>
        <tr>
          <td><a href=<%= "'/admin/gongfu/#{gongfu}'".html_safe %>>
            <%= @gongfus_info[gongfu][:gongfu_name] %></a></td>
          <td><%= @gongfus_info[gongfu][:level] %></td>
          <td><%= @gongfus_info[gongfu][:experience] %></td>
          <td><%= @gongfus_info[gongfu][:position] %></td>
          <td>
            <% unless @gongfus_info[gongfu][:disciple_name] == "未使用" %>
                <a href=<%= "'/admin/disciple/#{@gongfus_info[gongfu][:disciple_id]}'".html_safe%>>
            <% end %>
            <%= @gongfus_info[gongfu][:disciple_name] %></a></td>
          <td>
            <a href=<%= "'/admin/gongfu/#{gongfu}'".html_safe %> >详情</a>
            <a href=<%= "'/admin/gongfu/edit/#{gongfu}'".html_safe %> >编辑</a>
            <% unless @gongfus_info[gongfu][:position] == 0 %>
                <a onclick="return confirmDel()" href=<%= "'/admin/gongfu/delete/#{gongfu}'".html_safe %> >删除</a>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
  <div class="page">
    <%= will_paginate @gongfus, :previous_label => '<<', :next_label => '>>' %>
  </div>
  <a href="/admin/gongfu/new" class="btnlink">添加功夫</a>
</div>