<div id="middle" xmlns="http://www.w3.org/1999/html">
  残章：
  <table class="tabinfo">
    <tr>
      <th>功夫名称</th>
      <th>残章类型</th>
      <th>数量</th>
      <th>操作</th>
    </tr>
    <% @cangzhangs.each() do |canzhang| %>

        <tr>
          <td><%= @names_config[@gf_config[@cz_config[canzhang.cz_type]["gongfu_id"]]["name"]] %></td>
          <td><%= canzhang.cz_type %></td>
          <td><%= canzhang.number %></td>
          <td>
            <a href=<%= "'/admin/canzhang/#{canzhang.id}'".html_safe %> >详情</a>
            <a href=<%= "'/admin/canzhang/edit/#{canzhang.id}'".html_safe %> >编辑</a>
            <a onclick="return confirmDel()" href=<%= "'/admin/canzhang/delete/#{canzhang.id}'".html_safe %> >删除</a>
          </td>
        </tr>
    <% end %>
  </table>
  <div class="page">
    <%= will_paginate @cangzhangs, :previous_label => '<<', :next_label => '>>' %>
  </div>
  <a href="/admin/canzhang/new" class="btnlink">添加残章</a>
</div>